{% extends '../layouts/skeleton.twig' %}
{% set head_title = 'Page Title' %}
{% set body_class = 'bodyClasses' %}

{% block main %}

    {% include './../fragments/menu.twig' with {
            menu:[ 
                {
                    text:'home',
                    anchor: 'firstPage',
                    index: '00'
                },
                {
                    text:'About',
                    anchor: 'secondPage',
                    index: '01'
                },
                {
                    text:'Facilities',
                    anchor: 'thirdPage',
                    index: '02'
                }
            ]
        } %}

<div id="fullpage">
	<div class="section">
        {% include '../lames/lame-home.twig' with {
             footerColor:'white',
            background:'../assets/img/g-backgound1.jpg',
            titre:'Join the ultimatr innovation platform.',
            description:'We connect the est technology startups and the world s largest corporations.',
            menu:[ 
                {
                    selected:true,
                    text:'home',
                    anchor: 'firstPage'
                },
                {
                    selected:false,
                    text:'About',
                    anchor: 'secondPage'
                },
                {
                    selected:false,
                    text:'Facilities',
                    anchor: 'thirdPage'
                }
            ]
        } %}
    </div>
	<div class="section">
        <div class="slide">
            {% include '../lames/lame-about-who.twig' with {
                background:'../assets/img/g-backgound1.jpg',
                 footerColor:'white',
                subtitre:'Who we  are',
                subTitreImage: '../assets/img/atom.png',
                titre:'Startgate, Hub D innovation',
                description:'Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum, anxia deliberatione tractatur an exceptis his quibus vicissitudo debetur, peregrinum invitari conveniet, et si digesto plene consilio id placuerit fieri, is adhibetur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.',
                signature: 'Portfolio',
                menu:[ 
                    {
                        selected:false,
                        text:'home',
                        anchor: 'firstPage'
                    },
                    {
                        selected:true,
                        text:'About',
                        anchor: 'secondPage'
                    },
                    {
                        selected:false,
                        text:'Facilities',
                        anchor: 'thirdPage'
                    }
                ],
                submenu:[
                    {
                        selected:true,
                        text:'Who we are'
                    },
                    {
                        selected:false,
                        text:'Mission'
                    },
                    {
                        selected:false,
                        text:'Vision'
                    }
                ]

            }  %}
        </div>
        <div class="slide">
            {% include '../lames/lame-about-who.twig' with {
                background:'../assets/img/g-backgound1.jpg',
                footerColor:'white',
                isRight:true,
                 subTitreImage: '../assets/img/atom.png',
                subtitre:'Mission',
                titre:'Startgate, Hub D innovation',
                description:'Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum, anxia deliberatione tractatur an exceptis his quibus vicissitudo debetur, peregrinum invitari conveniet, et si digesto plene consilio id placuerit fieri, is adhibetur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.',
                menu:[ 
                    {
                        selected:false,
                        text:'home',
                        anchor: 'firstPage'
                    },
                    {
                        selected:true,
                        text:'About',
                        anchor: 'secondPage'
                    },
                    {
                        selected:false,
                        text:'Facilities',
                        anchor: 'thirdPage'
                    }
                ],
                submenu:[
                    {
                        selected:false,
                        text:'Who we are'
                    },
                    {
                        selected:true,
                        text:'Mission'
                    },
                    {
                        selected:false,
                        text:'Vision'
                    }
                ],
                 projects:[
                            {
                                count:'+30°',
                                titre:'programmes',
                                description:'intervallata temporibus convivia longa'
                            },
                                {
                                count:'1,000',
                                titre:'start-up',
                                description:'intervallata temporibus convivia longa'
                            },  {
                                count:'40,000',
                                titre:'m2',
                                description:'intervallata temporibus convivia longa'
                            }]

            }  %}
        </div>
        <div class="slide"> 
            {% include '../lames/lame-about-who.twig' with {
                background:'https://static.lexpress.fr/medias_11918/w_1792,h_1344,c_crop,x_256,y_0/w_640,h_358,c_fill,g_center/v1537803274/getty-discussion-reunion_6102471.jpg',
                footerColor:'white',
                subTitreImage: '../assets/img/atom.png',
                subtitre:'Vision',
                titre:'deliberatione tractatur an exceptis',
                description:'Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum, anxia betur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.',
                signature: 'Portfolio',
                menu:[ 
                    {
                        selected:false,
                        text:'home',
                        anchor: 'firstPage'
                    },
                    {
                        selected:true,
                        text:'About',
                        anchor: 'secondPage'
                    },
                    {
                        selected:false,
                        text:'Facilities',
                        anchor: 'thirdPage'
                    }
                ],
                submenu:[
                    {
                        selected:false,
                        text:'Who we are'
                    },
                    {
                        selected:false,
                        text:'Mission'
                    },
                    {
                        selected:true,
                        text:'Vision'
                    }
                ]

            }  %}
        </div>
    </div>
	<div class="section">
        {% include '../lames/lame-about-who.twig' with {
             footerColor:'black',
            background:'https://img.freepik.com/free-vector/abstract-technology-particle-gray-background_1035-17927.jpg?size=626&ext=jpg',
            subtitre:'Facilities',
            subTitreImage: '../assets/img/atom.png',
            subtitreClass:'blue',
            titre:'Compus',
            titreClass:'blue',
            description:'Cum autem commodis intervallata temporibus convivia longa et tio sollemnium sportularum, anxia betur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.',
            descriptionClass:'blue',
            menuBlack:true,
            withImage:'https://static.lexpress.fr/medias_11918/w_1792,h_1344,c_crop,x_256,y_0/w_640,h_358,c_fill,g_center/v1537803274/getty-discussion-reunion_6102471.jpg',
            menu:[ 
                    {
                        selected:false,
                        text:'home',
                        anchor: 'firstPage'
                    },
                    {
                        selected:false,
                        text:'About',
                        anchor: 'secondPage'
                    },
                    {
                        selected:true,
                        text:'Facilities',
                        anchor: 'thirdPage'
                    }
                ]
        }  %}
    </div>
</div>

{% endblock %}
