<div id="block-menu" class="block menu">
    <button class="menu-button-open" id="menu-button-open"></button>

    <div class="menu-container">
        <ul class="menu__main-pages">
            <li>
                <span>00</span>
                <a href="#">Home</a>
            </li>
            <li>
                <span>01</span>
                <a href="#">About</a>
            </li>
            <li>
                <span>02</span>
                <a href="#">Programs</a>
            </li>
            <li>
                <span>03</span>
                <a href="#">Facilities</a>
            </li>
            <li>
                <span>03</span>
                <a href="#">Ventures</a>
            </li>
            <li>
                <span>03</span>
                <a href="#">Events</a>
            </li>
        </ul>
        <ul class="menu__support-pages">
            <li>
                <a href="#">Jobs</a>
            </li>
            <li>
                <a href="#">Press</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <div class="menu__social-media">
            <img src="./../assets/img/facebook-24.png" alt="facebook-logo"/>
            <img src="./../assets/img/twitter-24.png" alt="twitter-logo"/>
            <img src="./../assets/img/youtube.svg" alt="youtube-logo"/>
            <img src="./../assets/img/linkedin-24.png" alt="linkedin-logo"/>
        </div>
        <div class="menu__langs">
            <span class="active">FR</span>/<span>EN</span>
        </div>
    </div>
</div>