

<div id="block-menu" class="block menu">
    <button class="menu-button-open" id="menu-button-open"></button>

    <div class="menu-container">
        <div class="menu__main-pages">
            {% for item in menu %}
                <div class="menu__main-pages__item" data-menuanchor="{{item.anchor}}">
                    <span>{{item.index}}</span>
                    <a href="#{{item.anchor}}">{{item.text}}</a>
                </div>
            {% endfor %}
        </div>
        <div class="menu-bottom">
            <ul class="menu__support-pages">
                <li>
                    <a href="#">Jobs</a>
                </li>
                <li>
                    <a href="#">Press</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="menu__social-media">
                <img src="./../assets/img/facebook-24.png" alt="facebook-logo"/>
                <img src="./../assets/img/twitter-24.png" alt="twitter-logo"/>
                <img src="./../assets/img/youtube.svg" alt="youtube-logo"/>
                <img src="./../assets/img/linkedin-24.png" alt="linkedin-logo"/>
            </div>
            <div class="menu__langs">
                <span class="active">FR</span>/<span>EN</span>
            </div>
        </div>
    </div>
</div>
