<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Index</title>

    <link rel="stylesheet" href="assets/css/main.css">
</head>


<body>
    <main>
        <div class="container">
            <h1 class="display-4 mt-xl-5 mb-xl-5">Liste des pages</h1>
            <div class="row pt-100 pb-100 justify-content-center">
                <div class="col-6">
                    <div class="list-group pattern-list" id="list-tab" role="tablist"><h2>Francais :</h2>
                        <a class="list-group-item list-group-item-action" href="fr/home.html">home page</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="list-group pattern-list" id="list-tab" role="tablist"><h2>Arabe :</h2>
                        <a class="list-group-item list-group-item-action" href="ar/home.html">الرئيسية</a>
                    </div>
                </div>

            </div>
        </div>
    </main>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>
