<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ head_title }}</title>

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>


<body{% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>

    {% include 'header.twig' %}
        <main>
            {% block main %}{% endblock %}
        </main>
    {% include 'footer.twig' %}

    <script src="../assets/js/vendor.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    
    <script>
        //activate fullpage.js
        let fullpage_api = $('#fullpage').fullpage({
            navigation: false,
            scrollBar: true,
            keyboardScrolling: true,
            loopHorizontal: false,
            anchors: ['firstPage', 'secondPage', 'thirdPage'],
            slidesNavigation: false,
            resetSliders: true,
            afterRender: function() {
                new WOW().init();
            },
            onLeave: function(index, nextIndex, direction){                
                if ($('.wow').hasClass('fadeIn')) {
                    $(this).removeClass('fadeIn');
                    $(this).removeAttr('style');
                    new WOW().init();
                }
            }
        });

        // Second Section Navigation Slides
        $('.block-right-submenu__item').click(function(){
            const index = $(this).index();
            $.fn.fullpage.silentMoveTo(2, index);
        });

    </script>
</body>

</html>

